# Project exclude paths
/.gradle/
/build/
/jux-a11y/build/
/jux-a11y/build/classes/java/main/
/jux-a11y/build/classes/java/test/
/jux-annotations/build/
/jux-annotations/build/classes/java/main/
/jux-annotations/build/classes/java/test/
/jux-client/build/
/jux-client/build/classes/java/main/
/jux-cms/build/
/jux-cms/build/classes/java/main/
/jux-cms/build/classes/java/test/
/jux-core/build/
/jux-core/build/classes/java/main/
/jux-core/build/classes/java/test/
/jux-demo/build/
/jux-demo/build/classes/java/main/
/jux-i18n/build/
/jux-i18n/build/classes/java/main/
/jux-i18n/build/classes/java/test/
/jux-processor/build/
/jux-processor/build/classes/java/main/
/jux-server/build/
/jux-server/build/classes/java/main/
/jux-server/build/classes/java/test/
/jux-store/build/
/jux-store/build/classes/java/main/
/jux-themes/build/
/jux-themes/build/classes/java/main/
/jux-themes/build/classes/java/test/
/.claude/
/.idea/
/gradle/
/CLAUDE.md
*.gitkeep
